<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css"/>
    <!-- jQuery -->
    <script src="/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
<!-- Main content -->
<script>
    document.addEventListener("DOMContentLoaded", () => {

        // 전역 변수 선언
        let lprodId = "";
        let lprodGu = "";
        let lprodNa = "";

        //전역 함수
        function getLprodList(){
            document.addEventListener("click", function(event) {
            // 클릭된 요소가 class="clsTd"를 가지고 있는지 확인
            if (!event.target.classList.contains("clsTd")) return;

            // data-lprod-id 속성에서 id 추출
            const lprodId = event.target.dataset.lprodId;
            console.log("lprodId : ", lprodId);

            // 비동기 요청 발생
            // 피: processData:false → formData 사용 시 필요
            // 씨: contentType → 보내는 데이터 타입
            // 다: data → JSON String
            fetch(`/api/lprod/${lprodId}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json;charset=UTF-8" // 응답 데이터 타입 명시
                }
                // GET 요청에는 일반적으로 body가 없음
            })
            .then(response => response.json())  // 서버 응답(JSON)을 JS 객체로 파싱
            .then(result => {
                console.log("result :", result);
                document.getElementById("modalLprodId").value = result.lprodId;
                // 1. modalLprodGu 업데이트
                const modalLprodGuElement = document.getElementById("modalLprodGu");
                if (modalLprodGuElement) {
                    modalLprodGuElement.textContent = result.lprodGu;
                }
                // 2. modalLprodNa 업데이트
                const modalLprodNaElement = document.getElementById("modalLprodNa");
                if (modalLprodNaElement) {
                    modalLprodNaElement.textContent = result.lprodNa;
                }

                // 4. 일반모드로 복귀
                $("#spnGen").css("display", "block");
                $("#spnEdit").css("display", "none");
            })
            .catch(error => {
                console.error("fetch error:", error);
            });
        }); // click 이벤트 리스너 닫기


        // 비동기 목록 출력
        /*
            요청URI : /api/lprod
            요청방식 : POST
        */
        $.ajax({
            url: "/api/lprod",
            type: "POST",
            dataType: "json",
            success: function(result) {
                console.log("result :", result);
                let str = "";
                $.each(result, function(idx, lprod) {
                    str += `
                        <tr>
                            <td>${lprod.lprodId}</td>
                            <td>
                              <a href="#"
                                 class="clsTd"
                                 data-lprod-id="${lprod.lprodId}"
                                 data-toggle="modal"
                                 data-target="#modalLg">
                                ${lprod.lprodGu}
                              </a>
                            </td>
                            <td>${lprod.lprodNa}</td>
                        </tr>
                    `;
                });
                $("#tbdy").html(str);
            },
            error: function(xhr, status, err) {
                console.error("list fetch error:", err);
            }
        });
        }

        /*
            {
                "lprodId": 1,
                "lprodGu": "P101",
                "lprodNa": "컴퓨터제품"
            }
        */

        //글 삭제
        //<button type="button" class="btn btn-danger" id="modalBtnDelete">삭제</button>
        $("#modalBtnDelete").on("click",function(){
            //<input type="text" id="modalLprodId" readonly="">
            lprodId=$("#modalLprodId").val();
            console.log("lprodId :", lprodId);

            //1. 삭제의항 체크
            if(confirm("정말 삭제하겠습니까?")){

                /* 글 삭제
                요청URI : /api/articles/delete
                요청파라미터 : JSON String{lprodId:2}
                요청방식 : post
                */
                let data = {
                    "lprodId" : lprodId
                }

                console.log("data : ",data);

                // 아작나써유..(피)씨다타써
                $.ajax({
                    url:"/api/lprod/delete",
                    contentType:"application/json;charset=utf-8",
                    //data: JSON.stringify(data),
                    data: JSON.stringify((Number(lprodId))),
                    type:"POST",
                    success: function(result){
                        //                                          deserialize
                        //result : Lprod 타입의 JSON String =>JSON Object
                        console.log("result : ", result);
                        //2. 모달창 닫기
                        $('#modalLg').modal('hide');

                        //3. 목록 다시 불러오기
                        getLprodList();
                    }
                });


            }//if end

        })

        //글 수정 실행
            $("#modalBtnConfirm").on("click",function(){
                /*
                요청URI : /api/lprod/update
                요청파라미터 : request{id=2,title=개똥이개똥이,content=즐거워즐거워}
                요청방식 : post
                */
                lprodId = $("#modalLprodId").val();
                lprodGu = $("#modalIptLprodGu").val();
                lprodNa = $("#modalIptLprodNa").val();

                //JSON Object
                let data ={
                    "lprodId" : lprodId,
                    "lprodGu" : lprodGu,
                    "lprodNa" : lprodNa
                }
                console.log("data :", data);

                // 아작나써유..(피)씨다타써
                //JSON Object ->serialize-> JSON String-> 네트워크 -> JSON String -> DTO
                $.ajax({
                    url:"/api/lprod/update",
                    contentType:"application/json;charset-utf-8",
                    data : JSON.stringify(data),
                    type : "post",
                    dataType : "json",
                    success:function(result){
                        //result :
                        console.log("result : ", result);

                        //1. 목록 최신화
                        getLprodList();
                        //2. 모달창 일반모드로 변경
                        $("#modalLprodGu").html(result.lprodGu); //전역변수에는 문자열이 있음
                        $("#modalLprodNa").html(result.lprodNa);//전역변수에는 문자열이 있음
                        $("#spnGen").css("display","block"); //일반영역 보임
                        $("#spnEdit").css("display","none"); //수정영역 안보임
                        //3. 모달창 닫기
                        $('#modalLg').modal('hide');
                    }
                })
            });


        /* 글 수정 취소

            */
            $("#modalBtnCancel").on("click",function(){
                $("#modalTitle").html(title); //전역변수에는 문자열이 있음
                $("#modalContent").html(content);//전역변수에는 문자열이 있음
                //4. 일반모드로 변환
                $("#spnGen").css("display","block"); //일반영역 보임
                $("#spnEdit").css("display","none"); //수정영역 안보임
            })

        /* 글 수정 폼 */
        $("#modalBtnEdit").on("click", function() {
            // 1. id, title, content의 값을 변수에 저장
            lprodId = $("#modalLprodId").val();          // 상품분류 번호
            lprodGu  = $("#modalLprodGu").html();       // 기존 분류 코드
            lprodNa  = $("#modalLprodNa").html();       // 기존 분류 명

            console.log("lprodId : ", lprodId);
            console.log("lprodGu  : ", lprodGu);
            console.log("lprodNa  : ", lprodNa);

            let strTitle = `
                    <input type="email" class="form-control" id="modalIptLprodGu" value="${lprodGu}" placeholder="상품분류코드">

                `;
                $("#modalLprodGu").html(strTitle);
                //3. id="modalContent" 요소 안에 text 처리
                let strContent = `
                    <input type="email" class="form-control" id="modalIptLprodNa" value="${lprodNa}" placeholder="상품분류명">

                `;
                $("#modalLprodNa").html(strContent);


            // 4. 수정모드로 변환
            $("#spnGen").css("display", "none");   // 일반영역 숨김
            $("#spnEdit").css("display", "block"); // 수정영역 보임
        });


        // 비동기 상세 모달
        // 동적으로 생성된 .clsTd 요소 클릭 위임
        getLprodList();

    }); // DOMContentLoaded 콜백 닫기
</script>

<section class="content">
    <div class="container-fluid">
        <!-- ///// body 시작 ///// -->

        <!-- msg 사용 범위 설정 시작
        rttr.addFlashAttribute("msg","삭제했습니다");
        -->
        {{#msg}}
            <div class="alert alert-primary alert-dismissible"><!-- 메시지 창 작성 -->
                {{msg}}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">Close</button>
            </div>
        {{/msg}}

        <!-- msg 사용 범위 설정 끝 -->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">상품분류 번호</th>
                <th scope="col">상품분류 코드</th>
                <th scope="col">상품분류 명</th>
            </tr>
            </thead>
            <tbody id="tbdy">
            <!-- model.addAttribute("lprodList", lprodEntityList);
                    lprodEntityList 반복하면서
                    lprodEntity : lprod(lprodId=1, lprodGu=p101, lprodNa=컴퓨터제품)
                    lprodEntity : lprod(lprodId=2, lprodGu=p102, lprodNa=전자제품)
                    lprodEntity : lprod(lprodId=3, lprodGu=p103, lprodNa=여성 캐주얼 의류)

                    -->
            <!--
                {{#lprodList}}
                    <tr>
                        <td>{{lprodId}}</td>
                        <td><a href="/lprod/{{lprodId}}">{{lprodGu}}</a></td>
                        <td>{{lprodNa}}</td>
                    </tr>
                {{/lprodList}}
                -->
            </tbody>
        </table>
        <a href="/lprod/new" class="btn btn-primary">New Lprod</a>
        <!-- ///// body 끝 ///// -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!--///상품분류 상세 모달 시작
{
    "lprodId": 1,
    "lprodGu": "P201",
    "lprodNa": "전자제품"
}
///-->
<div class="modal fade" id="modalLg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLprodGu"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 차후 hidden 처리-->
                <input type="text" id="modalLprodId" />
                <p id="modalLprodNa"></p>
            </div>
            <div class="modal-footer justify-content">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- 일반 모드 -->
                <span id="spnGen">
                    <button type="button" class="btn btn-warning" id="modalBtnEdit">수정</button>
                    <button type="button" class="btn btn-danger" id="modalBtnDelete">삭제</button>
                </span>
                <!-- 수정 모드(처음에는 안보임) -->
                <span id="spnEdit" style="display:none;">
                    <button type="button" class="btn btn-primary" id="modalBtnConfirm">확인</button>
                    <button type="button" class="btn btn-secondary" id="modalBtnCancel">취소</button>
                </span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--///글 상세 모달 끝 ///-->
</body>
</html>