<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
    <title>Document</title>
</head>
<body>
    <h2>상품분류 상세보기</h2>
    <table class="table">
        <tr>
            <th>상품분류 번호</th>
            <th>상품분류 코드</th>
            <th>상품분류 명</th>
        </tr>
        <!--
        lprodEntity : Lprod(lprodId=1, lprodGu=p101, lprodNa=컴퓨터제품)
        model.addAttribute("lprod",lprodEntity);

        lprod의 사용 범위 내 lprod에 담긴 lprodId, lprodGu, lprodNa 값으로 치환
         -->
        {{#lprod}}
            <tr>
                <td>{{lprodId}}</td>
                <td>{{lprodGu}}</td>
                <td>{{lprodNa}}</td>
            </tr>
        {{/lprod}}
    </table>
    <a href="/lprod" class="btn btn-primary">목록</a>
</body>
</html>