<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
    <title>Document</title>
</head>
<body>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- ///// body 시작 ///// -->

<!-- msg 사용 범위 설정 시작 -->

<div class="alert alert-primary alert-dismissible"><!-- 메시지 창 작성 -->

    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">Close</button>
</div>

<!-- msg 사용 범위 설정 끝 -->
<table class="table">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    <!-- model.addAttribute("articleList", articleEntityList);
            articleEntityList 반복하면서
            articleEntity : Article(id=1, title=개똥이의 모험1, content=즐거운 모험1)
            articleEntity : Article(id=2, title=개똥이의 모험2, content=즐거운 모험2)
            articleEntity : Article(id=3, title=개똥이의 모험3, content=즐거운 모험3)
            -->
    {{#articleList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
</table>
<a href="/articles/new" class="btn btn-primary">New Article</a>
<!-- ///// body 끝 ///// -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</body>
</html>